Wedding_Project/Wedding_Project/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_SURNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PHONE_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_EMAIL_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_STREET_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adminstrators" nillable="true" type="tns:ArrayOfAdminstrator">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfClient">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Wedding_Planners" nillable="true" type="tns:ArrayOfWedding_Planner">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfAdminstrator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Adminstrator" nillable="true" type="tns:Adminstrator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminstrator" nillable="true" type="tns:ArrayOfAdminstrator" />
  <xs:complexType name="Adminstrator">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADM_ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adminstrator" nillable="true" type="tns:Adminstrator" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="CL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfWedding_Planner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wedding_Planner" nillable="true" type="tns:Wedding_Planner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWedding_Planner" nillable="true" type="tns:ArrayOfWedding_Planner" />
  <xs:complexType name="Wedding_Planner">
    <xs:sequence>
      <xs:element minOccurs="0" name="WP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="WP_HISTORYDESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Wedding_Planner_Working_Locations" nillable="true" type="tns:ArrayOfWedding_Planner_Working_Location">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wedding_Planner" nillable="true" type="tns:Wedding_Planner" />
  <xs:complexType name="ArrayOfWedding_Planner_Working_Location">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wedding_Planner_Working_Location" nillable="true" type="tns:Wedding_Planner_Working_Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWedding_Planner_Working_Location" nillable="true" type="tns:ArrayOfWedding_Planner_Working_Location" />
  <xs:complexType name="Wedding_Planner_Working_Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="WPWL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="WPWL_PROVINCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WP_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wedding_Planner_Working_Location" nillable="true" type="tns:Wedding_Planner_Working_Location" />
</xs:schema>