Wedding_Project/Wedding_Project/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3002/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3002/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3002/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllWeddingPlanners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWeddingPlanners" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllWeddingPlanners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWeddingPlannersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IService1_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVenues" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDecorItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDecorItems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDecorItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDecorItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFlowers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlowers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFlowers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlowersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCutlery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCutlery" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCutlery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCutleryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authentication_InputMessage">
    <wsdl:part name="parameters" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="IService1_Authentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addClient_InputMessage">
    <wsdl:part name="parameters" element="tns:addClient" />
  </wsdl:message>
  <wsdl:message name="IService1_addClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:addClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addToCartTable_InputMessage">
    <wsdl:part name="parameters" element="tns:addToCartTable" />
  </wsdl:message>
  <wsdl:message name="IService1_addToCartTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToCartTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_returnLoginID_InputMessage">
    <wsdl:part name="parameters" element="tns:returnLoginID" />
  </wsdl:message>
  <wsdl:message name="IService1_returnLoginID_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnLoginIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_returnSpecificDecorItem_InputMessage">
    <wsdl:part name="parameters" element="tns:returnSpecificDecorItem" />
  </wsdl:message>
  <wsdl:message name="IService1_returnSpecificDecorItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnSpecificDecorItemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_returnClientId_InputMessage">
    <wsdl:part name="parameters" element="tns:returnClientId" />
  </wsdl:message>
  <wsdl:message name="IService1_returnClientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListOfCartItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfCartItems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListOfCartItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfCartItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPerson" message="tns:IService1_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPersonResponse" message="tns:IService1_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWeddingPlanners">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllWeddingPlanners" message="tns:IService1_GetAllWeddingPlanners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllWeddingPlannersResponse" message="tns:IService1_GetAllWeddingPlanners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Test" message="tns:IService1_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestResponse" message="tns:IService1_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllVenues" message="tns:IService1_GetAllVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllVenuesResponse" message="tns:IService1_GetAllVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDecorItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDecorItems" message="tns:IService1_GetAllDecorItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDecorItemsResponse" message="tns:IService1_GetAllDecorItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFlowers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllFlowers" message="tns:IService1_GetAllFlowers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllFlowersResponse" message="tns:IService1_GetAllFlowers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCutlery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCutlery" message="tns:IService1_GetAllCutlery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCutleryResponse" message="tns:IService1_GetAllCutlery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authentication" message="tns:IService1_Authentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthenticationResponse" message="tns:IService1_Authentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addClient" message="tns:IService1_addClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addClientResponse" message="tns:IService1_addClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addToCartTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addToCartTable" message="tns:IService1_addToCartTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addToCartTableResponse" message="tns:IService1_addToCartTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnLoginID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/returnLoginID" message="tns:IService1_returnLoginID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/returnLoginIDResponse" message="tns:IService1_returnLoginID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnSpecificDecorItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/returnSpecificDecorItem" message="tns:IService1_returnSpecificDecorItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/returnSpecificDecorItemResponse" message="tns:IService1_returnSpecificDecorItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnClientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/returnClientId" message="tns:IService1_returnClientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/returnClientIdResponse" message="tns:IService1_returnClientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfCartItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListOfCartItems" message="tns:IService1_GetListOfCartItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListOfCartItemsResponse" message="tns:IService1_GetListOfCartItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWeddingPlanners">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllWeddingPlanners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IService1/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVenues">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDecorItems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDecorItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlowers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllFlowers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCutlery">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCutlery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <soap:operation soapAction="http://tempuri.org/IService1/Authentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap:operation soapAction="http://tempuri.org/IService1/addClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToCartTable">
      <soap:operation soapAction="http://tempuri.org/IService1/addToCartTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnLoginID">
      <soap:operation soapAction="http://tempuri.org/IService1/returnLoginID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnSpecificDecorItem">
      <soap:operation soapAction="http://tempuri.org/IService1/returnSpecificDecorItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnClientId">
      <soap:operation soapAction="http://tempuri.org/IService1/returnClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfCartItems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListOfCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3002/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>